cli/*.xlsx
inserted/
insertederror/
out/
pibcache/
pibcacheempty/
pibcacheerror/
__pycache__/
pool.py
webapp/*.db
webapp/*.db-journal
*.pyc
*.db
*.swp
cli/extraction/
text_dump/
cli/*.txt
cli/mplus_15sig/
cli/mplussig/
cli/test.en
cli/test.mr
retrieval_error.txt
translate_error.txt
cli/train.en-*
titles/
plots/
env/
mkb/
*.tar.gz
*.sqlite
env/
