flask
flask_migrate
flask_sqlalchemy
Urduhack
scikit-learn
nltk
git+https://github.com/rsennrich/Bleualign
#git+https://github.com/jerinphilip/ilmulti.git@pib
#git+https://github.com/jerinphilip/fairseq-ilmt.git@pib
