flask
flask_migrate
flask_sqlalchemy
scikit-learn
nltk
git+https://github.com/rsennrich/Bleualign
#git+https://github.com/jerinphilip/ilmulti.git
#git+https://github.com/jerinphilip/fairseq-ilmt.git@pib
