{% extends "layout.html" %} {% block body %} 
<div class="row">	
    <div class="col-8">
        {{entry.id}} <br/>
        <code>
            <pre>
{{entry.content}}
            </pre>
        </code> 
    </div>

    <div class="col-4">
        <h6> Date based matches </h6>
        <ul>
            {% for link in entry.neighbors %}
            <li>
                <a href="{{url_for('docstore.parallel', src=link.first_id, tgt=link.second_id)}}">[compare]</a>
                {{link.second_id}} {{link.second.lang}} 
            </li>
            {% endfor %}
        </ul>

        <h6> Retrieval based matches </h6>
        <p> All retrieved articles are in English(en). </p>
        <ul>
            {% for candidate in retrieved %}
            <li>
                <a href="{{url_for('docstore.parallel', src=entry.id, tgt=candidate.id)}}">[compare]</a>
                {{candidate.id}}  {{'%0.2f'| format(candidate.similarity|float)}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
