{% extends "layout.html" %}
{% block body %}



{% block content %}
    <h4>Raw Articles</h4>
    <div class="row">

    {% for entry in entries %}
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">id</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{entry.id}}" >
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
                      </div>
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{entry.date}}" >
                    </div>
                </div>
            </div>

     <div class="row">
        <div class="col-12">
            {{entry.content|safe}} 
        </div>
    </div>
    </div>
        <br/>


    {% endfor %}

    </div>

    <h4> Stored Translation </h4>
    <div class="row">
        <div class="col-6">
             {{stored_translation|safe}}
        </div> 
    </div>

        <h2> Translation </h2>
        <div class="row">
            <div class="col-12">
                {{translation_content|safe}} 
            </div>
        </div>
        <h2> Alignment </h2>
        <div class="row">
            <div class="col-12">
                {{aligned_content|safe}} 
            </div>
        </div>
    <a class="btn btn-primary" href="{{url_for('docstore.parallel_align', src=entries[0].id, tgt=entries[1].id)}}">Align</a>




{% endblock %}


{% endblock %}

