{% extends "layout.html" %} {% block body %} 
<div class="row">	
    <div class="col-6">
        <h3> {{entry.id}}  </h3>
        <div>
{{entry.content | safe}}
        </div>
    </div>

    <div class="col-6">
        <h6> Date based matches </h6>
        <ul>
            {% for link in entry.neighbors %}
            <li>
                <a href="{{url_for('docstore.parallel', src=link.first_id, tgt=link.second_id)}}">
                {{link.second_id}} </a> {{link.second.lang}} 
            </li>
            {% endfor %}
        </ul>

        <h6> Finalized Matches </h6>
        <ul>
            {% for link in entry.finalized %}
            <li>
                <a href="{{url_for('docstore.parallel', src=link.anchor_id, tgt=link.other_id)}}">
                {{link.other_id}} </a> {{link.other.lang}} 
            </li>
            {% endfor %}
        </ul>

        <h6> Retrieval based matches </h6>
        <p> All retrieved articles are in English(en). </p>
        <div class="row">
        {% for model, candidates in retrieved.items() %}
            <div class="col-4">
                <p> {{model}} </p>
                <ul>
                    {% for candidate in candidates %}
                    <li>
                        <a href="{{url_for('docstore.parallel', src=entry.id, tgt=candidate.id)}}">
                        {{candidate.id}}</a> {{'%0.2f'| format(candidate.similarity|float)}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
